<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SportsBetting</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/custom.css}" rel="stylesheet"/>
</head>

<body>
<div id="container">
    <div class="align-items-center bg-dark"><h1>Welcome to SportBetting!</h1>
        <h3>Sports betting is the activity of predicting sports results and placing a wager
            on the outcome!</h3>
    </div>
    <h2>Login or Register to start!</h2>
    <div class="card border border-info border-3 mt-3">
        <div class="card-header bg-info">
            <h5>Login</h5>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Invalid username or password.
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.loggedOut}">
            You have successfully logged out.
        </div>
        <div class="card-body bg-light">
            <form action="#" th:action="@{/login}" method="post">
                <errors element="div" cssClass="validation-error"/>
                <div class="form-group">
                    <label for="email">Username</label>
                    <input class="form-control" type="text" name="email" id="email"
                           placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password"
                           placeholder="Password"/>
                </div>

                <div id="login">
                    <button class="btn btn-info" type="submit" th:text="Login">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>
